/* .disabled{
    display:none;
} */

.nav-pills .nav-link.active {
    background-color: #f47920 !important;
    color: #fff;
}

.box {
 
    /* border: solid 1px #e6e6e6; */
    box-sizing: border-box;
    /* background-color: #efefef; */
    padding: 20px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
}
.card-header {
    background: #fff !important;
}
.rounded {
    border-radius: 1rem
 }

 .nav-pills .nav-link {
    color: #555
 }

 .nav-pills .nav-link.active {
    background-color: #f47920 !important;
    color:#fff;
 }

 input[type="radio"] {
    margin-right: 5px
 }

 .bold {
    font-weight: bold
 }

 .box .box-header {
    margin: 0 0 14px 0;
    padding: 10px 15px;
    font-size: 18px !important;
 }

 .box .box-header h3 {
    font-size: 18px !important;
 }
 #order-summary{
    background:#fff;
    padding: 15px;
 }
 .text-muted{
    padding: 10px;
 }
 .card-header{
    background:#fff !important;
 }
 .card-footer{
    padding: 0;
    border-top: none !important;
 }
 a {
    transition: 0.5s;
    text-decoration: none !important;
}
.add-shadow {
    box-shadow: 5px 5px 5px rgb(0 0 0 / 5%);
}
h6 {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    margin: 0;
}