.available {
    background-color: #FFF7F1;
    box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
    padding: 20px 15px;
    border-radius: 15px;
    margin-bottom: 20px;
}
.transactions h2{
    font-size: 18px;
    color:#666;
    margin-bottom: 20px;
    text-align: left;
}
.transaction-history{
    text-align: center;
    height: 200px;
    padding: 100px 0;
    color:rgba(0, 0, 0, 0.3);
}
.available {
    background-color: #FFF7F1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 15%);
    padding: 20px 15px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.add-money {
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 15%);
    padding: 20px 15px;
    border-radius: 15px;
}

.available h3,
.add-money h3 {
    color: #666;
    font-size: 18px;
    margin-bottom: 15px;
}

.available p {
    color: #666;
    font-size: 25px;
    margin-bottom: 45px;
    font-weight: 600;
}

.available .controls ul li {
    display: inline-block;
}
.add-money ul{
    margin: 20px 0;
    text-align: center;
}
.add-money ul li{
    display: inline-block;
    background-color: #eee;
    padding:3px 5px;
    border-radius: 2px;
    color:grey;
    font-size: 13px;
}
.controls{
   padding-right: 20px;
}
/* .btn-default {
    color: #fff !important;
    background-color: #f47920 !important;
    height: 35px;
    font-weight: 500 !important;
    border-radius: 0 10px !important;
    transition: all 0.5s ease 0s;
    border: none !important;
    padding: 0.5rem 0.75rem !important;
    font-size: 1rem;
    line-height: 1.25;
    cursor: pointer;
} */