/* IMPORT GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  font-family: 'Montserrat' ,Arial, Helvetica, sans-serif !important;
}

.Rules-block{
  width: 70%;
  margin: auto;
  text-align: left;
}

.Rules-block ul{
  padding: 10px;
}

.Rules-block ul li{
  margin: 25px auto;
  border-left: 3px #5B32E2 solid;
  padding-left: 10px;
}

@media(max-width:768px){
  .Rules-block{
      width: 80%;
  }
}

@media(max-width:500px){
  .Rules-block{
      width: 90%;
  }
}