.countbox{
    color: #000;
    text-align: center;
    border-radius: 0 30px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    z-index: 1;
    padding: 20px 50px 20px 10px !important;
    position: relative;
}
.countbox:before{
    content: "";
    background: #fff;
    border-radius: 0 20px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    top: 50%;
    left: 50%;
    z-index: -1;
}
/* .disabled{
    display:none;
} */
.green{
       background-color:green;
    color:#fff;
    font-weight: 500;
}
.orange{
    background-color: #f47920;
    color:#fff;
    font-weight: 500;
}
.countbox .countbox-icon{
    font-size: 36px;
    margin: 0 auto 15px;
    position: absolute;
    right: 16px;
    top: 19px;
} 
.countbox .countbox-title{
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 12px;
}
.form-select{
    width:auto;
   margin-left:20px;
}
.countbox .countbox-description{
    text-align: left;
    padding-left: 5px;
}
.countbox .countbox-description p{
    color: #444;
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
}
.countbox.yellow{
    color: #f47920;
    border-color: #f47920;
}
@media only screen and (max-width: 990px){
    .countbox{ margin: 0 10px 30px; }
}
.count-section{
    margin-bottom: 20px;
}
.commercial.customer-detailed-info{
    padding: 30px 20px !important;
}
.commercial.customer-detailed-info h2{
    color:#000;
    font-size: 15px;
    font-weight: 600;
}
.commercial.customer-detailed-info table thead{
    background-color: #f47920;
}
.investors-data .table{
    width: 100%;
    display: block;
    overflow: auto;
}
.select-option{
    margin-bottom: 20px;
}
select.asset-select{
    border: 1px solid;
    height: 35px;
    width: 100%;
    border-radius: 3px;
}

.section-title h2{
    display: inline-block;
}
.section-title button{
    float:right;
}
Table .btn-default{
    font-size: 13px !important;
    padding: 5px 10px!important;
    border-radius: 12px 0 !important;
}