.footer {
    padding: 60px 0;
    background-color: #131419;
}
.footer .footer-about-logo img {
    width: 160px;
}
img {
    margin: 0 !important;
    max-width: 100%;
}
.footer .footer-subtitle {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    color: #fff;
    position: relative;
}
p{
    font-family: "Nunito",sans-serif;
    color:#bbbbbb;
   
}
h6 {
    font-family: 'Nunito', sans-serif;
    
    font-weight: 900;
    margin: 0;
}
a {
    transition: 0.5s;
    
    text-decoration: none !important;
}
@media (min-width: 1024px){
.copyright .brand-logo {
    float: right;
    text-align: right !important;
}}
.brand-logo {
    padding-left: 15px;
  
}

.footer a {
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 300;
    position: relative;
    transition: all 0.3s ease 0s;
}
.footer a:hover{
    color:#ED7338;
}
.fa-angle-double-right:hover{
    color:#ED7338 !important;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer-view-controller {
    padding: 40px 0 30px;
}
.mob-sticky {
    z-index: 2025 !important;
}
.copyright {
    background: #101010;
    padding: 45px 0;
    color: #fff;
}
.footer .footer-about-logo img {
    width: 160px;
}
img {
    margin: 0 !important;
    max-width: 100%;
}
/* #scrollUp {
    bottom: 60px;
    right: 20px;
    padding: 13px 0;
    text-align: center;
    width: 50px;
    height: 50px;
    z-index: 2147483647;
    background-color: #f47920;
    color: #fff;
    border-radius: 100%;

} */

#scrollUp{
    position: fixed !important;
    z-index: 200;
    opacity: 1;
    bottom: 10px;
    right: 20px;
    width: 45px;
    height: 45px;
    line-height: 40px;
    font-size: 16px;
    background-color:#ED7338;
    text-align: center;
    border: 3px solid #eeeeee;
    color: #fff;
}
#scrollUp:hover{
    background-color:#101010;
}
.fadeInUp {
    animation-name: fadeInUp;
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
section {
    display: block;
}
.copyright .brand-logo a {
    border: 1px solid rgba(255, 255, 255, 0.30);
    width: 60px;
    height: 60px;
    line-height: 60px;
    display: block;
    color: rgba(255, 255, 255, 0.30);
    text-align: center;
    transition: all 0.3s ease 0s;
    margin-left: 15px;
}
.footer a .fa-solid{
    color: #fff;
    
    font-size: 18px;
    margin-right: 5px;
    transition: all 0.3s ease 0s;
}
.footer li {
    margin-bottom: 25px;
}
.footer .footer-subtitle:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0px;
    display: inline-block;
    width: 50px;
    height: 4px;
    background-color: #ED7338;
}
.footer-about,
.footer-view-controller {
    padding: 40px 0 30px;
}
.copyright .brand-logo a:hover{
    background-color:#ED7338;
}