header {
    background-color: #f47920;
    text-align: center;
    padding: 10px;
}

header .logo a {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

label {
    font-weight: 600;
    line-height: inherit;
    margin-bottom: 0;
    color: #60626D
}

.main {
    position: relative;
}


/* body {
    background-color: #EDF7FF;
} */

.naam::after {
    color: #f56c6c;
    content: " *";
    margin-left: 3px;
}

.login-form {
    background-color: #fff;
    padding: 30px 45px;
    width: 400px;
  
    margin: auto;
    text-align: center;
    top: 50%;
    left: 50%;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 15%);
    background: linear-gradient(45deg, #fff 50%, #f9f9f9 50%);
    background-size: 20px 20px;
    border-radius: 20px;
    outline: 3px solid #000;
    outline-offset: -10px;
}

.login-form h1 {
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0;
    color: #101010;
    font-weight: 700;
    font-style: normal;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
    position: relative;
}

.form-control-plaintext {
    background: #eee;
    width: 100%;
    padding: 8px 5px;
}

.login-form button,
.login-form a {
    margin: 15px auto !important;
    display: block;
    width: 300px;
}

.login-form p {
    text-align: left;
}

.orange-circle {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f47920;
}

.mb-3 {
    margin-bottom: 0rem !important;
}

.form-group {
    padding: 0 !important;
}

